.modal-title{
    text-align: center;
    font-size: 25px;
    line-height: 1;
}
.waiting-animation{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.waiting-message{
    display: block;
    text-align: center;
}
.btn-social, .btn-social:hover, .btn-social:focus{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
/*	padding:0 0 0 65px;*/
	width:100%;
/*	text-align:left;*/
	margin-bottom:30px;
}
.button-Facebook, .button-Facebook:hover, .button-Facebook:focus{
	background:#3c5a98 url(/images/icons/socialLoginButtonIcons.png) left top no-repeat; border:0; font-size:16px; height:50px; color:#ffffff;
}
.button-Gmail, .button-Gmail:hover, .button-Gmail:focus{
	background:#dd4d3b url(/images/icons/socialLoginButtonIcons.png) left -70px no-repeat; border:0; font-size:16px; height:50px; color:#ffffff;
}
.btn-social.active,
.btn-social:active {
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* spacer */
.mask { 
    overflow:hidden; width:1px; height:150px;
    float:left;
}
.mask:before { 
    content:''; 
    display:block; margin-left:1px;
    width:1px; height:100%; 
    border-radius:5px; 
    box-shadow:0 0 8px black;
}

/* Sign name */
.btn-secondary {
    color: #ffffff;
    text-shadow: none;
    background-color: #1abb9c;
    *background-color: #1abb9c;
    background-image: none;
    background-repeat: repeat;
    border-color: #1abb9c;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    text-transform: uppercase;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.disabled,
.btn-secondary[disabled] {
    color: #ffffff;
    background-color: #1abb9c;
    *background-color: #1abb9c;
}

.signin {
  background-color: #FAFAFA;
  padding-bottom: 130px;/*added to add the gray till footer*/
}

.custom-input{
  border-radius: 0px;
  height:50px
}
