body{
    overflow-y:hidden;
}
.image-container{
width: 80px;
padding-right: 0px;
padding-left: 0px; 
}

.container {
margin-right: 5px;
margin-left: 5px;
width: auto;
}

.badge{
background-color: green;
}

.page-header {
padding-bottom: 0px;
margin: 0px 0 20px;
padding: 0px;
}

#local-video{
width: 100%;
}

#remote-video{
width: 100%;
height: 100%;
}

.list-group{
width: 100%;
overflow-y: auto;
margin-bottom: 0px;
max-height: 40%;
margin-top: 5px;
overflow-x: hidden;
}

.friends-tab{
background-repeat: no-repeat;
height: 60px;
background-size: 100%;
background-position: top;
}

.contacts-icon{
display:none;
width: 20;
position: absolute;
top: 0px;
right: 0px;
}

.Native-icon{
}

.list-group-item{
cursor: alias;
}

.Facebook{
display:block;
}

.Online{
}

.Online:after{
content: '';
display: block;
margin-left: 1px;
height: 100%;
width: 10px;
box-shadow: 10px 0px 10px green; 
position: absolute;
left: -11px;
top: 0px;
}

.Offline{
}

.Offline:after{
content: '';
display: block;
margin-left: 1px;
height: 100%;
width: 10px;
box-shadow: 10px 0px 10px grey;
position: absolute;
left: -11px;
top: 0px;
}

.Busy{}

.Busy{
content: '';
display: block;
margin-left: 1px;
height: 100%;
width: 10px;
box-shadow: 10px 0px 10px rgb(248, 9, 9);
position: absolute;
left: -11px;
top: 0px;
}
.page-header{
margin: 0px 0 20px;
}

.header{
margin: 0px;
margin-bottom: 5;
font-size: 30;
}

#footer{
margin: 0px;
position: absolute;
width: 100%;
bottom: 0px;
height: 40px;
}

.login-picture{
width: 50px;
}

.header-row{
margin: 0px;
}

.account{
float: right;
}

.user-name{
margin-top: 14px;
margin-right: 5px;
}

.user-row{
margin-right: -10px;
margin-left: 5px;
cursor: alias;
}

/* Notification */
.notification{
width: 200px;
position: fixed;
bottom: 0%;
right: 0%;
margin-right: 14px;
}

.CALLER{
display:block;
}

.CALLEE{
display:none;
}

.glyphicon{
margin-top: 5px;
margin-bottom: 10px;
font-size: 24px;
cursor: pointer;
}

.search-box{
margin-top: 10px;
}

.appear{
    display:none;
}

.contactsImporter{
    position:fixed;
    right:0px;
    top:40%;
    z-index:2;
}

.glyphicon{
    font-size: 15px;
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 0px;
}

.camera-icon{
    position: absolute;
    left: 0%;
    top: 0%;
}
#local-video-container{
    position:relative;
    overflow:hidden;
    z-index:3;
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
}
.localVideoMinimize{
    position:fixed !important;
    left:-1000px !important;
}
#hide-local-video-icon{
    cursor:pointer;
    position:fixed;
    z-index:5;
    left:-100px;
    width:3%;
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
}
.showLocalVideoIcon{
    left:0% !important;
}

#contacts-container{
    position:relative;
    overflow:hidden;
    z-index:2;
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
}
.contactsMinimize{
    position:fixed !important;
    left:-1000px !important;
}
#hide-contacts-icon{
    cursor:pointer;
    position:fixed;
    z-index:5;
    left:-100px;
    top:50%;
    width:3%;
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
}
.showContactsIcon{
    left:0% !important;
}

#remote-video-container{
    position:relative;
    overflow:hidden;
    height:80%;
    z-index:1;
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
}
.remoteVideoMinimize{
    position:fixed !important;
    right:-3000px !important;
}
#hide-remote-video-icon{
    cursor:pointer;
    position:fixed;
    z-index:5;
    right:-100px;
    width:3%;
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
}
.showRemoteVideoIcon{
    right:0% !important;
}

/* Bootstrap property */
.close{
    opacity:1;
}

.video-caption{
    background: rgb(170, 168, 168);
    height: 5%;    
    position: absolute; 
    top: 100%;
    width:100%;
    opacity: 1;    
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
}
#remote-video-container:hover .video-caption{
    top:95%;
}

/* Video call style controls */
.video-control{
    font-size: 20;
    top: 7%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.video-on{
    opacity:1;
    cursor:pointer;
    color:black;
}
.videoOff{
    opacity:0.5 !important;
    color: red;
}
.pause-on{
    opacity:1;
    cursor:pointer;
    color:black;
}
.pauseOff{
    opacity:0.5 !important;
    color: red;
}
.mute-on{
    opacity:1;
    cursor:pointer;
    color:black;
}
.muteOff{
    opacity:0.5 !important;
    color: red;
}
.volume-up-on{
    opacity:1;
    cursor:pointer;
    color:black;
}
.volumeUpOff{
    opacity:0.5 !important;
    color: red;
}
.volume-down-on{
    opacity:1;
    cursor:pointer;
    color:black;
}
.volumeDownOff{
    opacity:0.5 !important;
    color: red;
}
.end-call{
    color:red;
}
.initiate-call{
    position: absolute;
    top: 5px;
    right: 0px;
}
.call-Online{
    cursor:pointer;
    color:green
}
.call-Offline{
    cursor:default;
}
