<html ng-app="Chat-On">
    <head>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <!-- style.css not required as its minified into the VideoChatTemplate.js -->
        <!--<link rel="stylesheet" type="text/css" href="css/styles.css">-->
        <link rel="stylesheet" type="text/css" href="css/Login.css">
    </head>
    <body ng-controller="AccountController">
        <div class="page-header">
            <div class="header-row row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 header">Chat on.</h4>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
                    <label class="dropdown pull-right">
                        <a  href="#" >
                            <div class="login-picture">
                                <img ng-src={{user.picture}} class="img-thumbnail" >
                            </div>
                        </a>
                    </label>
                    <div class="user-name pull-right" bs-dropdown="dropDown" data-placement="bottom-left">
                        {{user.name}}
                    </div>
                </div>
            </div>
        </div>
        <video-chat  user="user" contacts="contacts" login-template-provided="true"  socket-url=""></video-chat>

        <script src="js/imports/angular/angular.js"></script>
        <script src="js/imports/webrtc/latest.js"></script>

        <!-- importing Facebook -->
        <script src="js/imports/all.js"></script>

        <script src="js/modules/ui-bootstrap-alert/ui-bootstrap-alert-0.10.0.js"></script>
        <script src="js/modules/angular-strap/angular-strap.min.js"></script>

        <!-- Library -->
        <!-- <script src="js/library/directives/VideoChat.js"></script>
        <script src="js/library/directives/BackgroundImage.js"></script>
        <script src="js/library/directives/CaptionVideo.js"></script>
        <script src="js/library/directives/Dragable.js"></script>
        <script src="js/library/directives/ContainerMinimize.js"></script>

        <script src="js/library/templates/VideoChat.js"></script>

        <script src="js/library/services/socket/SocketService.js"></script>
        <script src="js/library/services/webrtc/WebrtcService.js"></script>

        <script src="js/library/controllers/VideoChat.js"></script> -->
        <script src="js/VideoChat.js"></script>

        <!-- Developer's javascript -->
        <script src="js/app.js"></script>

        <!-- Templates -->
        <script src="js/templates/LoginPopup.js"></script>

        <!-- Controllers -->
        <script src="js/controllers/Account.js"></script>

    </body>
</html>
